.game-play-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 100px;
  background: -moz-linear-gradient(to bottom, var(--pale-teal) 0%, var(--light-green-tint) 100%);
  background: -webkit-linear-gradient(to bottom, var(--pale-teal) 0%, var(--light-green-tint) 100%);
  background: linear-gradient(to bottom, var(--pale-teal) 0%, var(--light-green-tint) 100%);
}

.animal-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
}

.facts-section {
  flex: 1;
  max-width: 50vw;
  font-size: 2.3vh;
  background-color: var(--antique-white);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 5px;
}

@media screen and (max-width: 1404px) {
  .facts-section {
    font-size: 2.3vh;
  }
}

@media screen and (max-width: 1050px) {
  .facts-section {
    font-size: 2vh;
    width: 70vw;
  }
}

@media screen and (max-width: 930px) {
  .animal-container {
    flex-direction: column;
    align-items: center;
  }

  .animal-pic {
    max-width: 37.5em;
    max-height: 25em;
    border-radius: 10px;
  }

  .facts-section {
    width: 90vw; 
    max-width: none;
    border-radius: 10px;
  }
}

.clickables {
  display: flex;
  flex-direction:row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

}

.game-animal-name {
  text-align: center;
  font-size: 40px;
  margin: 10px;
  margin-top: 25px;
  color: var(--deep-blue);
}

.animal-pic { 
  max-width: 37.5em;
  max-height: 25em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 5px;
}

.draw-me-button,
.eat-me-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: var(--vibrant-orange);
  height: 70px;
  width: 300px;
  font-size: 50px;
  cursor: pointer;
  margin: 10px;
  font-family: inherit;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.draw-me-button:hover,
.eat-me-button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  transform: translateY(-3px);
}

.draw-me-button {
  font-size: 40px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--soft-orange);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 550px;
  max-height: 80vh;
  overflow-y: auto;
}

#yt-content {
  max-width: 900px;
  max-height: 90vh;
  padding: 30px;
}

.predators-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.predator-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  height: auto;
  max-height: 300px;
  width: 150px;
}

.predator-card p {
  font-weight: bold;
  max-width: 150px;
  word-wrap: break-word;
  text-align: center;
  height: 3em;
}

.predator-image {
  width: 163px;
  height: 163px;
  border-radius: 10px;
  object-fit: cover;
  object-position: top;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0px 0px 10px black;
}

.predator-image:hover
{
  transform: scale(1.1);
  box-shadow: 0px 0px 20px var(--sky-blue);
  cursor: pointer;
}

.love{
  bottom: 200px;
  height: 100px;
  height: 70px;
  width: 100px;
  width: 70px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.love-heart:before,
#switch {
  display: none;
}

.love-heart,
.love-heart::after {
  border-color: hsl(231deg 28% 86%);
  border: 1px solid;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  width: 10px;
  height: 8px;
  border-bottom: 0
}

.round {
  position: absolute;
  z-index: 1;
  width: 8px;
  height: 8px;
  background: hsl(0deg 0% 100%);
  box-shadow: rgb(0 0 0 / 24%) 0px 0px 4px 0px;
  border-radius: 100%;
  left: 0px;
  bottom: -1px;
  transition: all .5s ease;
  animation: check-animation2 .5s forwards;
}

input:checked + label .round {
  transform: translate(0px, 0px);
  animation: check-animation .5s forwards;
  background-color: hsl(0deg 0% 100%);
}

@keyframes check-animation {
  0% {
  transform: translate(0px, 0px);
  }

  50% {
  transform: translate(0px, 7px);
  }

  100% {
  transform: translate(7px, 7px);
  }
}

@keyframes check-animation2 {
  0% {
  transform: translate(7px, 7px);
  }

  50% {
  transform: translate(0px, 7px);
  }

  100% {
  transform: translate(0px, 0px);
  }
}

.love-heart {
  box-sizing: border-box;
  position: relative;
  transform: rotate(-45deg) translate(-50%, -33px) scale(4);
  display: block;
  border-color: hsl(231deg 28% 86%);
  cursor: pointer;
  top: 0;
}

input:checked + .love-heart,
input:checked + .love-heart::after,
input:checked + .love-heart .bottom {
  border-color: var(--soft-pink);
  box-shadow: inset 6px -5px 0px 2px var(--bright-pink);
}

.love-heart::after,
.love-heart .bottom {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-color: hsl(231deg 28% 86%);
}

.love-heart::after {
  right: -9px;
  transform: rotate(90deg);
  top: 7px;
}

.love-heart .bottom {
  width: 11px;
  height: 11px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: hsl(231deg 28% 86%);
  left: -1px;
  top: 5px;
  border-radius: 0px 0px 0px 5px;
}
