:root {
  --seagreen: hsl(146, 50%, 36%);
  --fresh-green: hsl(87, 49%, 52%);
  --vibrant-orange: hsl(38, 90%, 57%);
  --soft-orange: hsl(36, 73%, 63%);
  --pale-teal: hsl(180, 44%, 83%);
  --light-green-tint: hsl(94, 33%, 82%);
  --sky-blue: hsl(203, 92%, 75%);
  --deep-blue: hsl(211, 85%, 35%);
  --bright-pink: hsl(347deg 99% 72%);
  --soft-pink: hsl(347deg 81% 61%);

  /* others currently unused */
  --soft-yellow: hsl(45, 100%, 75%);
  --light-coral: hsl(10, 70%, 74%);
  --cool-gray: hsl(210, 10%, 60%);
  --warm-brown: hsl(25, 55%, 42%);
  --misty-lavender: hsl(240, 40%, 80%);

}