:root {
  --seagreen: hsl(146, 50%, 36%);
  --fresh-green: hsl(87, 49%, 52%);
  --vibrant-orange: hsl(38, 90%, 57%);
  --soft-orange: hsl(36, 73%, 63%);
  --pale-teal: hsl(180, 44%, 83%);
  --light-green-tint: hsl(94, 33%, 82%);
  --sky-blue: hsl(203, 92%, 75%);
  --aqua-blue: hsl(197, 100%, 47%);
  --deep-blue: hsl(211, 85%, 35%);
  --bright-pink: hsl(347deg 99% 72%);
  --soft-pink: hsl(347deg 81% 61%);
  --antique-white: hsl(34, 78%, 91%);
  --icy-mint: hsl(150, 30%, 85%);

}