:root {
  --fs-pd-rabbit: 2rem;
  --fs-title: clamp(1.2rem, 1.5vw + 1rem, 3.25rem);
  --fs-large: 3.5rem;
  --fs-medium: 1.5rem;
  --fs-small: 1rem;
  --fs-button: 3rem;
}
body.dyslexia-font {
  --fs-button: 2.5rem;
}

@media screen and (max-width: 820px) {
  :root {
    --fs-pd-rabbit: 2.3rem;
    --fs-medium: 1.25rem;
  }
  body.dyslexia-font {
    --fs-medium: 1rem;
  }
}

/* @media screen and (max-width: 768px) {

} */

@media screen and (max-width: 480px) {
  :root {
    --fs-pd-rabbit: 1.5rem;
    /* --fs-xl: 3.2rem; */
    --fs-large: 3rem;
    --fs-medium: 1rem;
    --fs-small: 0.9rem;
  }

  body.dyslexia-font {
    --fs-title: 1.1rem;
    --fs-large: 2rem;
    /* --fs-medium: 1.3rem; */
    --fs-medium: 1rem;
  }
}

@media screen and (max-width: 375px) {
  :root {
    --fs-large: 2rem;
    /* --fs-medium: 1.3rem; */
    --fs-small: 0.85rem;
  }

  body.dyslexia-font {
    --fs-title: 1rem;
    --fs-medium: 1rem;
    --fs-small: 0.8rem;
  }
}