:root {
  --fs-xl: clamp(3.5rem, 12vw + 1rem, 12rem);
  /* --fs-title: clamp(1rem, 4vw + 1rem, 3.25rem); */
  --fs-title: clamp(1.2rem, 1.5vw + 1rem, 3.25rem);
  --fs-large: 2rem;
  --fs-medium: 1.5rem;
  --fs-small: 1rem;
}

/* @media screen and (max-width: 768px) {

} */

@media screen and (max-width: 480px) {
  :root {
    --fs-large: 3rem;
    /* --fs-medium: 1.5rem; */
    --fs-small: 1.125rem;
  }

  body.dyslexia-font {
    --fs-title: 1.1rem;
    --fs-medium: 1.3rem;
  }
}

@media screen and (max-width: 375px) {
  :root {
    --fs-large: 3rem;
    --fs-medium: 1.3rem;
    --fs-small: 1.125rem;
  }

  body.dyslexia-font {
    --fs-title: 1rem;
    --fs-medium: 1.1rem;
  }
}