.favorite-main {
  display: flex;
  flex-direction: column;
  background-color: mintcream;
}

.favorite-animal-pic {
  min-width: 100%;
  min-height: 100%;
}

.animal-list {
  margin-top: 10vh;
  min-height: 89vh;
}

.favorite-animal-name {
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem ;
  text-align: left;
}

.favorite-header {
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  font-size: var(--fs-large);
}

.favorite-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.favorite-index {
  margin: 2em;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: white;
  max-width: 250px;
  text-align: center;
  justify-content: space-evenly;  
  gap: 0.5rem ;
}

.favorite-index:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px black;
  cursor: pointer;
}

.image-container {
  display: flex;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.animal-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
}

.favorite-header-container{
  display: flex;
  justify-content: space-between;  
  align-items: center;
  width: 100%; 
}

.favorites-love-heart {
  position: relative;
  width: 40px;
  height: 36px;
  margin-left: 10px;
  cursor: pointer;
}


.favorites-love-heart::before,
.favorites-love-heart::after {
  content: '';
  position: absolute;
  top: 0;
  width: 20px;
  height: 32px;
  border-radius: 50px 50px 0 0;
  background: var(--bright-pink);
}

.favorites-love-heart::before {
  left: 20px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.favorites-love-heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.favorites-love-heart:hover {
  transform: scale(1.1);
}