.navWapper {
  background-color: purple;
  background-color: #8CC051;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 1; */
  /* height: 60px; */
  border: 1px solid black;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: white;
  font-size: 56px;
  letter-spacing: 5px;
  margin: 0;

  cursor: pointer;
}

/* .star-button{
  position: fixed;
  background-color: purple;
  top: 0;
  right: 0;
  height:50px;
  width: 110px;
} */


.MySavedView{
  /* position: fixed; */
  top:5px;
  right:2px;
  color: white;
  font-size: 40px;
  letter-spacing: 2px;
  cursor: pointer;

}

@media screen and (max-width: 1444px) {
  h1 {
    font-size: 2vw; /* Adjust h1 font size on smaller screens */
  }

  * {
    background: orange;
  }

  
  
}

@media screen and (max-width: 1444px) {
  h1 {
    font-size: 3.5vw; /* Further reduce font size on very small screens */
  }

  .MySavedView {
    font-size: 2.5vw;
  }
}