.navWapper {
  background-color: purple;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

h1 {
  color: white;
  font-size: 56px;
  letter-spacing: 5px;
  margin: 0;
  cursor: pointer;
}

.star-button{
  position: fixed;
  background-color: purple;
  top: 0;
  right: 0;
  height:50px;
  width: 110px;
}

.MySavedView{
  position: fixed;
  top:5px;
  right:2px;
  color: white;
  font-size: 40px;
  letter-spacing: 2px;
  cursor: pointer;
}