.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 100px;
  background-image: url("../../../public/assets/park_photos/rocky_mountain_national_park.jpg");
  background-color: rgba(255,255,255,0.2);
  background-blend-mode: lighten;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.rabbit-container {
  position: relative;
  position: fixed;
  bottom: 5px; /* Adjust distance from the bottom */
  right: 100px; /* Adjust distance from the right */
  display: inline-block; /* Keeps the container size around the image */
  width: 500px; /* Adjust based on your image */
  height: 600px;
}

.rabbit-image {
  width: 100%; /* Ensures the image scales with the container */
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 15%;
  left: 39%;
  transform: translate(-50%, -50%) rotate(-5deg); /* Adjusts to perfect centering */
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  white-space: nowrap; /* Prevents text from wrapping */
}
