.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 100px;
  /* background-image: url("../../../public/assets/rabbit-hole.jpg"); */
  background-image: url("../../../public/assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.5; */

  /* background: url("../../../public/assets/background.jpg") no-repeat center cover; */

  /* height: 100vh;
  width: 100vw; */
  /* background: -moz-linear-gradient(to bottom, var(--pale-teal) 0%, var(--light-green-tint) 100%);
  background: -webkit-linear-gradient(to bottom, var(--pale-teal) 0%, var(--light-green-tint) 100%);
  background: linear-gradient(to bottom, var(--pale-teal) 0%, var(--light-green-tint) 100%); */
  /* background-color: var(--light-green-tint); */
  /* background-color: var(--pale-teal);
  background-color: white; */
  /* background-size: 100vh 100vw; */
  box-sizing: border-box;
}

/* .arrow {
  margin-right: 450px;
  transform: rotate(90deg);
  color: darkorange;
}

.arrow:hover {
  color: orangered;
} */
.rabbit-container {
  position: relative;
  position: fixed;
  bottom: 5px; /* Adjust distance from the bottom */
  right: 100px; /* Adjust distance from the right */
  display: inline-block; /* Keeps the container size around the image */
  width: 500px; /* Adjust based on your image */
  height: 600px;
}

.rabbit-image {
  width: 100%; /* Ensures the image scales with the container */
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 50%; /* Centers text vertically */
  left: 50%; /* Centers text horizontally */
  top: 16%;
  left: 42%;
  transform: translate(-50%, -50%); /* Adjusts to perfect centering */
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  white-space: nowrap; /* Prevents text from wrapping */
}


body.dyslexia-font .main-page-p {
  font-size: 17px;
  text-align: center;
}

body.default-font .main-page-p {
  font-size: 26px; 
  text-align: center;
}
