.park-details-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 100px;
  box-sizing: border-box;
}

.park-details-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  width: 100%;
}

.park-name {
  text-align: center;
  font-size: var(--fs-large);
  margin: 0;
}

.parks-details-photo {
  object-fit: cover;
  width: 100%;
  height: 60vh;
  padding: 10px 0;
}

.park-details-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
  font-size: var(--fs-medium);
  max-width: 88vw;
}

.park-animals-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  row-gap: 2em;
  column-gap: 2em;
  justify-content: center;
}

.animal-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  cursor: pointer;
  width: 225px;
  height: 325px;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;;
}

.animal-card:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

.animal-image {
  width: auto;
  height: 70%;
  flex-grow: 1;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.animal-name {
  width: 93%;
  font-size: var(--fs-medium);
  text-align: center;
  margin: 0;
  padding: .5em;
  font-weight: bold;
  background-color: seagreen;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.parks-animals-message {
  font-size: var(--fs-medium);
  color: black;
}
