.park-details-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 100px;
  box-sizing: border-box;
  /* background-color: #e8f7ee; */
}

.park-details-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  width: 100%;
}

.park-name {
  text-align: center;
  font-size: var(--fs-large);
  margin: 0;
}

.parks-details-photo {
  object-fit: cover;
  width: 100%;
  height: 60vh;
  padding: 10px 0;
}

.park-details-info {
  display: flex;
  padding: 0 20px;
  max-width: 88vw;
}

.park-details-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 0 20px; */
  font-size: var(--fs-medium);
  max-width: 65vw;
  list-style: none;
}

.bold-info {
  font-weight: 700;
  line-height: 1.5em;
}

.spaced-info {
  margin-top: 1.25em;
}

.park-rabbit-container {
  position: relative;
  /* position: fixed; */
  /* bottom: 5px; */
  /* right: 100px; */
  display: inline-block;
  width: 500px;
  /* height: 600px; */
}

.park-rabbit-image {
  width: 100%;
  height: auto;
}

.park-overlay-text {
  position: absolute;
  top: 13%;
  left: 40%;
  transform: translate(-50%, -50%) rotate(-5deg);
  color: black;
  /* font-size: var(--fs-medium); */
  font-size: var(--fs-pd-rabbit);
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  /* white-space: nowrap; */
  white-space: wrap;
}

body.dyslexia-font .park-overlay-text {
  line-height: 1;
}

.park-animals-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  row-gap: 2em;
  column-gap: 2em;
  justify-content: center;
}

.animal-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  cursor: pointer;
  width: 225px;
  height: 325px;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;;
}

.animal-card:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

.animal-image {
  width: auto;
  height: 70%;
  flex-grow: 1;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.animal-name {
  width: 93%;
  font-size: var(--fs-medium);
  text-align: center;
  margin: 0;
  padding: .5em;
  font-weight: bold;
  background-color: seagreen;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.parks-animals-message {
  font-size: var(--fs-medium);
  color: black;
}

@media screen and (max-width: 1200px) {
  .park-details-info {
    flex-direction: column;
    align-items: flex-end;
  }
  .park-rabbit-container {
    width: 300px;
  }
}

@media screen and (max-width: 820px) {
  .park-details-text {
    max-width: 80vw;
  }

  .park-animals-container {
    margin: 5px;
  }
}

@media screen and (max-width: 430px) {
  .park-overlay-text {
    top: 16%;
  }

  .animal-card {
    width: 175px;
    height: 275px;
  }
}

@media screen and (max-width: 390px) {
  .animal-card {
    width: 125px;
    height: 225px;
  }

  .animal-name {
    padding: 5px;
  }
}